<!-- Table Start -->
<div class="container-fluid pt-4 px-4">
    <div class="row g-4">
        <div class="col-sm-12 col-xl-12">
            <div class="bg-light rounded h-100 p-4">
                <h6 class="mb-4">Employee Details Details</h6>
                <a [routerLink]="[('/adminmaster/emp_reg')]"><button type="submit" class="btn btn-success">+ Add Employees</button><br><br></a>
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Employee Name</th>
                            <th scope="col">Email</th>
                            <th scope="col">Position</th>
                            <th scope="col">Contact no</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let data of getEmployeeData,index as i">
                            <th scope="row">{{ i+1 }}</th>
                            <td>{{data.emp_name}}</td>
                            <td>{{data.emp_email}}</td>
                            <td>{{data.emp_position}}</td>
                            <td>{{data.emp_contactno}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<!-- Table End -->